* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}


.header {
    position:absolute;
    width: 100%;
    z-index: 2;
    display: block;
    .navbar{
        .container {
            height: 80px;
            justify-content: space-between;
            .header-left {
                display: flex;
                height: 100%;
                .logo {
                    position: relative;
                    z-index: 2;
                    img {
                        width: 80px;
                        display: block;
                    }
                    @media screen and (max-width:992px){
                        img {
                            width: 48px;
                        }
                    }
                }

                .hamburger-button {
                    border: 0 none;
                    background: transparent;
                    &:focus {
                        box-shadow: none;
                    }
                    .hamburger-icon {
                        font-size: 40px;
                        font-weight: 300;
                    }
                }
            }

            .header-right {
                display: flex;
                justify-content: space-between;
                .header-menu {
                    .menu {
                        .nav-item {
                            display: block;
                            padding: 0 50px 0 0;
                            .nav-link {
                                font-weight: 600;
                                color: #000;
                                line-height: 80px;
                                display: block;
                                position: relative;
                                padding: 0;
                                font-size: 13px;
                                &:hover {
                                    color: #b61984;
                                }
                                &::after {
                                    content: '';
                                    display: block;
                                    position:absolute;
                                    bottom: -4px;
                                    margin-left: -4px;
                                    left: 50%;
                                    height: 8px;
                                    width: 8px;
                                    border-radius: 50%;
                                    transition: all 0.3s ease;
                                    transform: scale(0);
                                    background-color: #b61984;
                                }
                                &:hover::after{
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                }

                .header-right-inner {
                    display: flex;
                    line-height: 38px;
                    align-items: center;
                    vertical-align: middle;
                    font-size: 16px;
                    .header-btn {
                        display: inline-block;
                        line-height: 1;
                        width: auto;
                        .btn-default {
                            color: #fff;
                            padding: 12px 18px;
                            margin: 6px;
                            font-weight: 500;
                            text-align: center;
                            background: transparent;
                            box-shadow: 0 0 0 36px #b61984 inset;
                            transition: all 0.3s ease;
                            border-radius: 50px;
                            font-size: 13px;
                            &:hover {
                                color: #b61984;
                                box-shadow: 0 0 0 1px #b61984 inset;
                            }
                        }
                    }

                    .iconWidget {
                        margin-left: 12px;
                        color: #000;
                        font-size: 13px;
                        transition: all 0.3s ease;
                        &:hover {
                            color: #b61984;
                        }
                    }
                }
            }
        }
    }
}

.contentWrap {
    .contentHolder{
        position: relative;
        .contentPort {
            display: flex;
            justify-content: center;
            flex-flow: row nowrap;
            .cell {
                width: 1200px;
                max-width: calc(100% - 60px);
                display: block;
                .cell-inner {
                    .row {
                        position: relative;
                        flex-flow: row nowrap;
                        justify-content: center;
                        padding: 60px 0;
                        align-items: center;
                        flex-basis: 50%;
                        // max-width: 70%;
                        // margin: 0 auto;
                        z-index: 1;
                        .col-6 {
                            .col-content {
                                justify-content: center;
                                .subtitle {
                                    font-size: 20px;
                                    margin-bottom: 10px;
                                    color:#b61984;
                                    font-weight: 600;
                                    display: block;
                                }

                                .title {
                                    font-size: 60px;
                                    font-weight: 700;
                                }

                                .col-thumb {
                                    display: block;
                                    line-height: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .top-img {
            top: 0;
            right: 0;
            left: 0;
            position:absolute;
            img {
                width: 100%;
                height: auto;
                display: block;
                user-select: none;
            }
        }

        .bottom-img {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            .img {
                width: 100%;
                height: auto;
                display: block;
                user-select: none;
            }
        }
    }
}

.groupCard {
    background-color: #dcd1f3;
    position: relative;
    .container {
        .row {
            .card {
                border-radius: 10px;
                border: none;
                z-index: 2;
                transition-delay: 0.2s;
                transition: all 0.5s ease-out;
                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }
                .card-img {
                    overflow: hidden;
                    border-radius: 10px 10px 0 0;
                    img {
                        border-radius: 10px 10px 0 0;
                        transition: transform 1000ms cubic-bezier(.190,1,.220,1),opacity 1000ms cubic-bezier(.190,1,.220,1);
                        &:hover {
                            transform: scale(1.05);
                            .card > & {
                                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                            }
                        }
                    }
                }

                .card-body {
                    text-align: center;
                    .subtitle {
                        font-size: 12px;
                        color: #b61984;
                        font-weight: 600;
                        text-transform: uppercase;
                    }

                    .teacherName {
                        font-size: 24px;
                        font-weight: 700;
                    }

                    .text {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .bottom-img {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        img {
            display: block;
            user-select: none;
        }
    }
}

.findCourse {
    position: relative;
    .container {
        display: flex;
        justify-content: center;
        .cell {
            width: 1000px;
            max-width: calc(100% - 60px);
            display: block;
            z-index: 2;
            .cell-inner {
                z-index: 2;
                .row {
                    .col-thumb {
                        justify-self: flex-start;
                        z-index: 2;
                        img {
                            display: block;
                            line-height: 0;
                        }
                    }

                    .col-form {
                        z-index: 2;
                        .form {
                            border-radius: 10px;
                            border: none;
                            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                            padding: 0 20px;
                            text-align: center;
                            background: #fff;
                            z-index: 2;
                            .title {
                                font-size: 38px;
                                font-weight: 700;
                                margin-bottom: 40px;
                                display: block;
                            }

                            .row {
                                .input-group {
                                    position: relative;
                                    textarea {
                                        height: 90px;
                                        font-size: 14px;
                                        font: inherit;
                                        padding:10px 10px 10px 35px;
                                        margin: 10px 0;
                                        background: transparent;
                                        border-radius: 20px;
                                        display: block;
                                        width: 100%;
                                        border: 1px solid rgba(197, 195, 195, 0.952);
                                        transition: all 0.5s;
                                        &:focus {
                                            border: 1px solid rgba(0, 0, 0, 0.5);
                                            box-shadow: none;
                                            &:focus-visible {
                                                outline: none;
                                            }
                                        }
                                    }
                                    .input-icon {
                                        position: absolute;
                                        top: 21px;
                                        left: 22px;
                                        z-index: 2;
                                        color: #b61984;
                                    }

                                    .form-control, .form-select {
                                        border-radius: 50px;
                                        padding:10px 10px 10px 35px;
                                        margin: 10px 0;
                                        background: transparent;
                                        display: block;
                                        font-size: 14px;
                                        transition: all 0.5s;
                                        &:focus {
                                            border: 1px solid rgba(0, 0, 0, 0.5);
                                            box-shadow: none;
                                        }
                                        
                                        
                                    }

                                    .btn-default {
                                        color: #fff;
                                        padding: 12px 60px;
                                        margin: 6px;
                                        font-weight: 500;
                                        text-align: center;
                                        background: transparent;
                                        box-shadow: 0 0 0 36px #b61984 inset;
                                        transition: all 0.3s ease;
                                        border-radius: 50px;
                                        font-size: 13px;
                                        &:hover {
                                            color: #b61984;
                                            box-shadow: 0 0 0 1px #b61984 inset;
                                        }
                                    }
                                }

                                .btnForm {
                                    margin-bottom: 50px;
                                    margin-top: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .bottom-img {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        pointer-events: none;
        img {
            display: block;
            user-select: none;
        }
    }
}

.footer {
    background-image: url(../img/footer_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 30px 0;
    position: relative;
    display: block;
    .container {
        padding: 100px 0;
        justify-content: center;
        .cell {
            .cell-inner {
                .row {
                    .title {
                        font-size: 24px;
                        font-weight: 700;
                        padding-bottom: 25px;
                    }

                    .item {
                        padding-bottom: 5px;
                        .holder {
                          font-size: 14px;
                          span {
                            padding-left: 10px;
                          }
                        }
                    }

                    .icon {
                        padding-top: 10px;
                        a {
                            padding-right: 10px;
                            color: #fff;
                            transition: all 0.3s ease;
                            font-size: 14px;
                            &:hover {
                                color:#000;
                            }
                        }
                    }

                    .container-fluid {
                        display:flex;
                        padding: 0;
                        .menu {
                            padding: 0;
                            li.menu-item {
                                border-bottom: 1px solid rgba(0,0,0,0.1);
                                line-height: 1;
                                padding: 12px 0;
                                a {
                                    color: #fff;
                                    font-size: 14px;
                                    transition: all 0.3s ease;
                                    &:hover {
                                        opacity: 0.8;
                                    }
                                }
                            }
                            li:first-child {
                                padding-top: 0;
                            }
                        }
                    }

                    .form-input {
                        input {
                            border: 1px solid rgba(255,255,255,0.1);
                            border-radius: 50px;
                            transition: all 0.5 ease;
                            padding: 15px;
                            display: block;
                            background: transparent;
                            text-align: center;
                            color: #fff;
                            font-size: 14px;
                            line-height: 1;
                            width: 100%;
                            outline: none;
                            transition: all 0.05 ease;
                            &:focus {
                                border: 1px solid rgba(255,255,255,1);
                                box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);;
                            }
                            &::placeholder {
                                color: #fff;
                                font-size: 14px;
                            }
                        }
                    }

                    .form-button {
                        margin-top: 10px;
                        .btn-default {
                            color: #000;
                            width: 100%;
                            height: 48px;
                            font-weight: 500;
                            text-align: center;
                            background: transparent;
                            box-shadow: 0 0 0 36px #fff inset;
                            transition: all 0.3s ease;
                            border-radius: 50px;
                            outline: none;
                            border: none;
                            font-size: 14px;
                            &:hover {
                                color: #fff;
                                box-shadow: 0 0 0 1px #fff inset;
                            }
                        }
                    }
                }
            }
        }
    }

}
